{{#each blogPosts as |blogpost|}}
  <div>
    <div>
      <h3>
        <a
          class='text-decoration-none link-dark'
          href='/post/{{blogpost.id}}'
        >{{blogpost.post_title}}</a>
      </h3>
      <p>Posted by: {{user.name}}</p>
    </div>
    <div>
      <p>
        {{blogpost.post_body}}
      </p>
    </div>
  </div>
{{/each}}